/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */
html {
  background-color: rgb(20,20,20);
}

html.light {
  background-color: white;
}


.lte {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
