@use 'tokens' as *;
@use '@dracoui/primitives';

@mixin button {
  .draco-button {
    cursor: pointer;
    font-weight: $button-font-weight;
    font-family: primitives.$draco-font-sans-serif;
    border-width: primitives.$draco-border-width-thin;
    border-radius: $button-border-radius;


    // Reset intrinsic padding for Firefox
    &::-moz-focus-inner {
      padding: 0;
      border: 0;
    }
  }
}