@use '@dracoui/primitives';

/// @type Number
$button-font-weight: primitives.$draco-base-weight-normal !default;

/// @type Number
$button-font-size: primitives.$draco-text-size-body-small !default;

/// @type Number
$button-border-radius: primitives.$draco-border-radius-full !default;

