{{page-title "Tabs Tester"}}

<section class="flex w-full max-w-[1200px] mx-auto items-center flex flex-col justify-center">
  <Draco::Tabs
    @tabs={{array
      (hash title="npm" content="npm")
      (hash title="yarn" content="yarn")
    }}
  />
</section>