{{page-title "Foundations"}}

<section class="w-full dark:bg-[rgb(15,15,15)] border-b dark:border-[#242424] px-[80px]">
  <div class="border-grid max-w-[1200px] w-full mx-auto flex flex-col lg:flex-row justify-between mt-[40px] space-x-[20px]">
    <div class="flex container-wrapper justify-center items-center">
      <div class="container flex flex-col items-start gap-2 py-8 md:py-10 lg:py-12 max-w-[600px]">
        <h1 class="text-2xl font-[500] leading-tight tracking-tighter md:text-4xl">
          Draco Foundations
        </h1>

        <p class="max-w-2xl text-[14px] font-[400] dark:text-[#A1A1A1]">
          Foundations are the visual elements needed to create engaging end-to-end user experiences. This includes guidance on iconography, typography, layout, and structure.
        </p>

        <div class="flex gap-2.5 w-full items-start pt-2">
          <Draco::Button @text="Browse Foundations" @href="#foundations" />
          <Draco::Button @text="View Color Pallette" @href="/foundations/colors" @type="secondary" />
        </div>
      </div>
    </div>
  </div>
</section>