<main class="flex flex-1 flex-col w-full">
  <Page::Home::Hero
    @title="Draco Design System"
    @description="A bold yet simple design system for designers, offering <br> beautifully crafted and accessible components for limitless creativity."
  />
</main>
