@use "_colors";
@use "_states";

.draco-toggle {
  position: relative;
  isolation: isolate;
  display: inline-flex;

  .draco-toggle__control {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
    color: transparent;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    opacity: 0;
    appearance: none;

    &:disabled {
      cursor: not-allowed;
    }
  }
}