@use "sizes";
@use "colors";
@use "states";

.draco-button {
  cursor: pointer;
  font-family: var(--token-typography-display-400-font-family);
  border-radius: var(--token-border-radius-large);
  border-width: 1px;
  border-style: solid;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: background-color 0.1s, border-color 0.1s, box-shadow 0.1s, color 0.1s, transform 0.2s;

  &.draco-button--size-small {
    font-weight: var(--token-typography-font-weight-light);
  }

  &.draco-button--size-medium,
  &.draco-button--size-large {
    font-weight: var(--token-typography-font-weight-regular);
  }

  // Handle border radius shapes
  &.draco-button--shape-circle,
  &.draco-button--shape-rounded {
    border-radius: var(--token-border-radius-full);
  }

  @at-root a#{&} {
    width: fit-content;

    &:hover,
    &:focus,
    &:active,
    &.mock-hover,
    &.mock-focus,
    &.mock-active {
      text-decoration: underline;
    }
  }

  .draco-button__text {
    display: block;
    flex: 1 0 0;
    text-align: center;
  }
}
