@use '_sizes';

.draco-skeleton {
  position: relative;
  display: flex;
  overflow: hidden;
  background-color: #323232;
  border-radius: 4px;

  &.draco-skeleton--animation-shimmer {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        90deg,
        rgba(50, 50, 50, 0) 0%,
        rgba(30, 30, 30, 0.8) 50%,
        rgba(50, 50, 50, 0) 100%
      );
      animation: shimmer 1.5s infinite ease-in-out;
      z-index: 1;
    }
  }
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%) scale(1);
  }
  50% {
    transform: translateX(0) scale(1.05);
  }
  100% {
    transform: translateX(100%) scale(1);
  }
}