@use '_group';

.draco-avatar {
  object-fit: cover;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  overflow: hidden;

  img {
    display: block;
    position: relative;
  }

  &.draco-avatar--shape-circle {
    border-radius: 100%;
  }

  &.draco-avatar--shape-square {
    border-radius: var(--token-border-radius-small);
  }
}

.draco-avatar-group {
  display: flex;
  position: relative;

  .draco-avatar {
    border-width: 1px;
    border-style: solid;
    border-color: var(--token-color-palette-neutral-700);
    position: relative;
    margin-left: -10px;

    &:last-child {
      z-index: 1;
      margin-left: 0;
    }
  }
}

.draco-avatar-group--remaining-count {
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  text-align: center;
  font-family: var(--token-typography-display-400-font-family);
  font-weight: var(--token-typography-font-weight-regular);
  border-width: 1px;
  border-style: solid;
  display: inline-flex;
  background-color: var( --token-color-palette-neutral-900);
  color: var(--token-color-palette-neutral-100);
  border-color: var(--token-color-palette-neutral-800);
}
