.draco-tabs {
  .draco-tabs__tab {
    &:hover,
    &.mock-hover {
      color: var(--token-color-palette-neutral-100);
    }

    &.draco-tabs__tab--selected {
      color: var(--token-color-palette-neutral-100);

      &::after {
        left: 0;
        right: 0;
        transition-property: left, right;
      }
    }

    &.draco-tabs__tab--disabled {
      color: var(--token-color-palette-neutral-600);
      cursor: not-allowed;
      opacity: 0.6;
      pointer-events: none;
    }
  }

  .draco-tabs__tab-button {
    &:disabled {
      cursor: not-allowed;
      opacity: 0.6;
      pointer-events: none;
    }
  }
}
