<footer class="py-6 border-t dark:border-[#242424] dark:bg-[#0A0A0A]">
    <div class="mx-auto flex flex-col justify-between items-center max-w-[1200px] px-4 space-y-[20px]">
      <nav class="flex flex-row justify-between items-center w-full">
        <div>
          <ul class="flex flex-row space-x-4">
            {{#each this.footerItems as |item|}}
              {{#if item.children}}

              {{else}}
                <li>
                  <a
                    href={{item.route}}
                    class="cursor-pointer dark:text-[#7D7D7D] text-[14px] transition-colors dark:hover:text-white font-[400]"
                  >
                    {{item.label}}
                  </a>
                </li>
              {{/if}}
            {{/each}}
          </ul>
        </div>

        <div>

        </div>
      </nav>

      <div class="flex items-start w-full text-center">
        <p class="text-[12px] leading-[16px] dark:text-[#7D7D7D]">
          &copy; {{this.year}}, Corinvo, LLC.
        </p>
      </div>
    </div>
  </footer>