<svg width="22" height="22" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
  <title>Flags SDK</title>
  <rect width="16" height="16" rx="4" class="dark:fill-white fill-black" />
  <foreignObject x="2" y="2" width="12" height="12">
    <div xmlns="http://www.w3.org/1999/xhtml" class="flex items-center justify-center h-full w-full">
      <Draco::Mark @size={{10}} class="text-black" />
    </div>
  </foreignObject>
</svg>
