@font-face {
  font-family: Geist;
  font-style: normal;
  font-display: swap;
  src:
    local("Geist Sans (variable)"),
    url("/assets/fonts/geist-sans-variable.woff2") format("woff2");
}

@font-face {
  font-family: Geist Mono;
  font-style: normal;
  font-display: swap;
  src:
    local("Geist Mono (variable)"),
    url("/assets/fonts/geist-mono-variable.woff2") format("woff2");
}
