.draco-kbd {
  color: var(--token-color-palette-neutral-300);
  font-weight: var(--token-typography-font-weight-regular);
  font-family: var(--token-typography-display-400-font-family);
  font-size: 12px;
  height: 20px;
  min-width: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 4px;
  border: 1px solid var(--token-color-palette-neutral-700);
  border-radius: var(--token-border-radius-medium);
  background-color: var(--token-color-palette-neutral-950);
  line-height: 1;
  text-align: center;

  &.draco-kbd--single {
    width: 20px;
    padding: 0;
  }
}
