@use "sass:map";

$draco-button-sizes: ( "small", "medium", "large" );
$draco-button-border-radius: var(--token-border-radius-small);
$draco-button-border-width: 1px;
$draco-button-focus-border-width: 3px;

.draco-button {
  @at-root a#{&} {
    width: fit-content;

    &:hover,
    &:focus,
    &:active,
    &.mock-hover,
    &.mock-focus,
    &.mock-active {
      text-decoration: underline;
    }
  }

  &:disabled,
  &[disabled],
  &.mock-disabled,
  &:disabled:focus,
  &[disabled]:focus,
  &.mock-disabled:focus,
  &:disabled:hover,
  &[disabled]:hover,
  &.mock-disabled:hover {
    color: var(--token-color-palette-neutral-400);
    background-color: var(--token-color-palette-neutral-950);
    border-color: var(--token-color-palette-neutral-50);
    box-shadow: none;
    cursor: not-allowed;

    &::before {
      border-color: transparent;
    }
  }

  &.draco-button--width-full {
    width: 100%;
    max-width: 100%;

    .draco-button__text {
      flex: 0 0 auto;
    }
  }

  .draco-button__text {
    display: block;
    flex: 1 0 0;
    text-align: center;
  }

  .draco-button--color-primary {
    color: var(--token-color-foreground-high-contrast);
    background-color: var(--token-color-palette-blue-200);
    border-color: var(--token-color-palette-blue-300);
    box-shadow: var(--token-elevation-low-box-shadow);

    &:hover,
    &.mock-hover {
      color: var(--token-color-foreground-high-contrast);
      background-color: var(--token-color-palette-blue-300);
      border-color: var(--token-color-palette-blue-400);
      cursor: pointer;
    }

    &:focus,
    &.mock-focus {
      color: var(--token-color-foreground-high-contrast);
      background-color: var(--token-color-palette-blue-200);
      border-color: var(--token-color-focus-action-internal);

      &::before {
        $shift: $draco-button-border-width + $draco-button-focus-border-width + 2px;
        top: -$shift;
        right: -$shift;
        bottom: -$shift;
        left: -$shift;
        border-color: var(--token-color-focus-action-external);
        border-radius: calc(#{$draco-button-border-radius} + #{$draco-button-focus-border-width} + 2px);
      }
    }

    &:active,
    &.mock-active {
      color: var(--token-color-foreground-high-contrast);
      background-color: var(--token-color-palette-blue-400);
      border-color: var(--token-color-palette-blue-400);
      box-shadow: none;

      &::before {
        border-color: transparent;
      }
    }
  }

}