.draco-kbd {
  color: var(--token-color-palette-neutral-300);
  font-weight: var(--token-typography-font-weight-regular);
  border-style: solid;
  border-width: 1px;
  padding: 2px 6px;
  font-size: 12px;
  border-radius: var(--token-border-radius-medium);
  background-color: var(--token-color-palette-neutral-950);
  border-color: var(--token-color-palette-neutral-700);
  font-family: var(--token-typography-display-400-font-family);
}