{{page-title "Tester"}}

<div class="test">
  <Draco::Tabs
    @tabs={{array
      (hash title="npm" content="npm" icon="mdi:home")
      (hash title="yarn" content="yarn" disabled=false icon="mdi:github")
    }}
  />

  <Draco::Input @placeholder="Email"/>
</div>

{{outlet}}
