@use "_sizes";

.draco-link {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  font-family: var(--token-typography-display-400-font-family);
  font-weight: var(--token-typography-font-weight-regular);

  .draco-link__text {
    flex: 1 0 0;
    display: flex;
    text-align: center;
  }

  .draco-link__text {
    flex: 1 0 auto;
    display: inline-flex;
    text-align: center;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 100%;
      height: 0;
      background-color: currentColor;
      opacity: 0;
      transition: height 0.2s ease-in-out, opacity 0.2s ease-in-out;
    }

    &:hover::after {
      height: 1.5px;
      opacity: 1;
    }
  }
}