name: Release

on:
  push:
    branches:
      - main

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: '.node-version'
          registry-url: 'https://registry.npmjs.org'

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8
          run_install: true

      - name: Build
        run: pnpm run build

      - name: Create Release PR or Publish
        id: changesets
        uses: changesets/action@v1
        with:
          version: pnpm changeset version
          commit: 'chore: version packages'
          title: 'chore: version packages'
          publish: pnpm publish --access public
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  auto-merge:
    name: Auto-merge Version PR
    needs: release
    runs-on: ubuntu-latest
    if: needs.release.outputs.pullRequestNumber != ''
    steps:
      - name: Approve PR
        uses: hmarr/auto-approve-action@v3
        with:
          pull-request-number: ${{ needs.release.outputs.pullRequestNumber }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Enable Auto-merge
        run: |
          gh pr merge --auto --merge ${{ needs.release.outputs.pullRequestNumber }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
